@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;
}
#wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.container h1 {
  margin: 20px 0;
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
}

#shadowBox {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
  border: 3px solid;
}
.gradient-text {
  background-color: #ca4246;

  background-image: linear-gradient(
    45deg,
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );

  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.gradient-text:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem;
}
.card {
  width: 32%;
  position: relative;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.4s ease-out;
}
.card img {
  width: 100%;
  height: 100%;
  filter: grayscale(50%);
  box-shadow: 0 0 20px #333;
  object-fit: cover;
  transition: all 0.4s ease-out;
}
.card:hover img {
  filter: grayscale(0%);
  width: 100%;
}
.gallery .card:hover {
  transform: scale(1.03);
  filter: drop-shadow(0 0 10px #333);
}
.card .caption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 20%;
  padding-left: 25px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.gallery .card:hover .caption {
  opacity: 1;
}
